<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<!--Hide CV -->
				<!-- <li><a href="/cv">CV</a></li> -->
	        		<li><a href="/blog">Blog</a></li>
				<li><a href="/ansible">Labs</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:my.network.automation@gmail.com">email</a></li><br>
				
	        		<li><a href="https://github.com/craigeowen/my-network-ansible_playbooks">github.com/my-network-ansible_playbooks</a></li>
				</ul>
			</footer>
		</body>
		<!-- Side navigation -->
		<div class="sidenav">
			<img src="/assets/jupiter.jpg">
			<a href="/ansible"><Font size="4">Labs</font></a>
			<a href="https://craigeowen.github.io/blog/2018/04/13/Linux-Endpoint-Setup"><font size="2">Lab 1 - Linux Setup</font></a>
			<a href="https://craigeowen.github.io/blog/2018/04/20/Cisco-Router-Setup"><font size="2">Lab 2 - Router Setup</font></a>
			
		</div>
	</html>
